---
type ResumeOptionType = {
    name: string
    toggle: string
    tip?: string
}

const options: ResumeOptionType[] = [
    {
        name: 'Show professional summary',
        toggle: 'summary',
        tip: 'You may wish to exclude your summary and submit it separately as a cover letter.',
    },
    {
        name: 'Show references',
        toggle: 'references',
    },
    {
        name: 'Show awards',
        toggle: 'awards',
    },
    {
        name: 'Hide all icons and images',
        toggle: 'no-icons',
        tip: 'ATS may get confused on images and icons.',
    },
    {
        name: 'Redact personal information',
        toggle: 'redact',
    },
]
---

<div id="control-panel">
    {options.map(option => (
        <div title={option.tip} data-toggle={option.toggle}>
            <label for={`toggle-${option.toggle}`}>{option.name}</label>
            <input type="checkbox" id={`toggle-${option.toggle}`} />
        </div>
    ))}
</div>

<script is:inline>
    function setupToggle(toggleClass) {
        document.querySelectorAll(`#toggle-${toggleClass}`).forEach(item => item.addEventListener('click', e => {
            document.querySelector('body').classList.toggle(toggleClass, e.currentTarget.checked)
        }))
    }

    document
        .querySelectorAll('#control-panel > div[data-toggle')
        .forEach(option => setupToggle(option.dataset.toggle))
</script>

<style>
    #control-panel {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        position: fixed;
        top: 1rem;
        right: 1rem;

        background: #181818;
        color: white;

        padding: 1rem;
        border-radius: 0.5rem;

        font-size: 150%;
    }

    @media print {
        #control-panel {
            display: none;
        }
    }
</style>
