---
import { Icon } from 'astro-icon/components'
import RenderMarkdown from '@/components/RenderMarkdown.astro'
import { getEducation } from '@/data/education'

const education = await getEducation()
---

<section id="education" data-item-count={education.length}>
    <div class="section-title">
        <h2>Education</h2>
        <Icon name="ri:school-fill" />
    </div>

    <div class="education">
        {education.map(({ slug, data: { name, degree, subject, year } }) => (
            <article class="education-item">
                <div class="education-header">
                    <h3>{degree}</h3>

                    {subject && (
                        <span>&mdash;</span>

                        <div class="subject">
                            {subject}
                        </div>
                    )}

                    <span>&mdash;</span>

                    <div class="name personal">
                        {name}
                    </div>

                    <span>&mdash;</span>

                    <div class="dates">
                        <Icon name="ri:calendar-line" />
                        <span>{year}</span>
                    </div>
                </div>
                
                <RenderMarkdown type="education" slug={slug} />
            </article>
        ))}
    </div>
</section>

<style>
    .education-header {
        display: flex;
        align-items: baseline;
        gap: 1ch;
    }

    .subject, .name, .dates {
        font-weight: bold;
    }
</style>
