---
import { Icon } from 'astro-icon/components'
import RenderMarkdown from '@/components/RenderMarkdown.astro'
import { getExperience } from '@/data/experience'
import { getDisplayDate } from '@/util'

const experience = await getExperience()
---

<section id="experience" data-item-count={experience.length}>
    <div class="section-title">
        <h2>Experience</h2>
        <Icon name="ri:briefcase-4-fill" />
    </div>

    <div>
        {experience.map(({ slug, data: { name, url, title, location, startYear, startMonth, endYear, endMonth } }) => (
            <article class="experience">
                <div class="header">
                    <h3 class="title">{title}</h3>

                    <span>&mdash;</span>

                    <div class="company-name">
                        <span class="personal">{name}</span>
                        {url && (
                            <a href={url} target="_blank" referrerpolicy="no-referrer" class="ez-click is-icon">
                                <Icon name="ri:external-link-line" />
                            </a>
                        )}
                    </div>

                    <div class="grow" />

                    <div class="location">
                        {location && (
                            <Icon name="ri:map-pin-2-line" />
                            <span class="personal">{location}</span>
                        )}
                    </div>

                    <span>&mdash;</span>

                    <div class="dates">
                        <Icon name="ri:calendar-line" />
                        <span>{getDisplayDate(startYear, startMonth)} - {getDisplayDate(endYear, endMonth)}</span>
                    </div>
                </div>

                {/* <hr /> */}

                <div>
                    {<RenderMarkdown type="experience" slug={slug} />}
                </div>
            </article>
        ))}
    </div>
</section>

<style>
    #experience {
        /** Page break inside because this is the biggest section usually. */
        page-break-inside: auto;
        break-inside: auto;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 1ch;
    }

    .company-name {
        display: flex;
        justify-content: center;
        align-items: baseline;
        font-weight: bold;
        /* text-decoration: underline; */
        gap: 0.5ch;
    }

    .location {
        font-style: italic;
    }

    .dates {
        font-weight: bold;
    }

    .location svg {
        vertical-align: top;
    }

    .logo {
        height: 1.5em;
        filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
    }
</style>