---
import { Icon } from 'astro-icon/components'
import { getReferences } from '@/data/references'

const references = await getReferences()
---

<section id="references" data-item-count={references.length}>
    <div class="section-title">
        <h2>References</h2>
        <Icon name="ri:suitcase-fill" />
    </div>

    <article>
        <ul>
            {references.map(({ data: { name, title, company, email, phone } }) => (
                <li>
                    <span class="name personal">{name}</span>
                    <span>{title} at <span class="personal">{company}</span></span>
                    <span class="personal">{email}</span>
                    <span class="personal">{phone}</span>
                </li>
            ))}
        </ul>
    </article>
</section>

<style>
    .name {
        font-weight: bold;
    }

    li > *:not(:last-child)::after {
        content: " — ";
        display: inline;
    }
</style>

<style is:global>
    body:not(.references) #references {
        display: none;
    }
</style>
