---
import { Icon } from 'astro-icon/components'
import RenderMarkdown from '@/components/RenderMarkdown.astro'
import { getMySelf } from '@/data/myself'
import { stripProtocol } from '@/util'

const {
	name,
    // title,
    email,
    phone,
    linkedin,
    github,
    website,
    // location,
} = await getMySelf()
---

<section id="summary">
    <h1 class="personal">{name}</h1>
    <!-- <b>{title}</b> -->

    <div class="contacts">
        <div>
            <Icon name="logos:linkedin-icon" />
            <a href={`https://linkedin.com/in/${linkedin}`} class="personal">linkedin.com/in/{linkedin}</a>
        </div>
        |
        <div>
            <Icon name="ri:phone-fill" class="text-primary" />
            <span class="personal">{phone}</span>
            <!-- <a href={`tel:${phone}`}>{phone}</a> -->
        </div>
        |
        <div>
            <Icon name="logos:github-icon" />
            <a href={`https://github.com/${github}`} class="personal">github.com/{github}</a>
        </div>
        |
        <div>
            <Icon name="ri:mail-send-fill" class="text-primary" />
            <span class="personal">{email}</span>
            <!-- <a href={`mailto:${email}`}>{email}</a> -->
        </div>
        |
        <div>
            <Icon name="ri:computer-line" class="text-primary" />
            <a href={website} class="personal">{stripProtocol(website)}</a>
        </div>
        <!-- | -->
        <!-- <div>
            <Icon name="ri:map-pin-2-fill" class="text-primary" />
            <span class="personal">{location}</span>
        </div> -->
    </div>

    <div class="summary-text">
        <RenderMarkdown type="myself" slug="myself" />
    </div>
</section>

<style>
    #summary {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .summary-text {
        text-align: justify;
    }

    .contacts {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5em;
        border-bottom: 2px dotted var(--col-fg);
        padding-bottom: 0.5rem;
        margin-bottom: 0.25rem;

        & > * {
            display: flex;
            gap: 0.5ch;
            justify-content: center;
            align-items: center;
        }
    }
</style>

<style is:global>
    body:not(.summary) {
        & .summary-text {
            display: none;
        }

        & .contacts {
            border-bottom: 0;
        }
    }
</style>
